{{ $ := .root }}
{{ $page := .page }}

<!-- Talks widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Params.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-xs-12 col-md-8">
    {{ with $page.Params.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    <ul class="fa-ul">
      {{ $talks := $.Site.GetPage "section" "talk"}}
      {{ range $talks.Pages }}
      {{ partial "talk_li" . }}
      {{ end }}
    </ul>
  </div>
</div>
